.header {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  box-sizing: border-box;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.leftGroup {
  display: flex;
  align-items: center;
  gap: 8px;
}


.rightGroup {
  display: flex;
  align-items: center;
}

.progressRow {
  width: 100%;
}
